@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


                                                            /* BODY */

*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
#bod{
  font-family: "poppins" , sans-serif;
}

body::-webkit-scrollbar {
    display: block;
    width: 3px;
    background-color: #070707;
  }

  body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100px;
  }

                                                          /* LANDING PAGE */

  .centered-text {
    position: absolute;
    top: 40%;
    right: 4%;
  }

  .landpage-para{
    transform: translate(-50%, -50%);
    font-size: 3rem; 
    font-weight: bold;
    text-align: center;
    background: linear-gradient(135deg, #3a8748, #6aeae1);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }

  .animated{
    color: #ffffff; /* Customize the color as needed */
  animation: fadeIn 1s ease-in-out;
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  }


                                                            /* NAVBAR */

                                                            
.navbar-brand{
   font-weight: 500;
   color:#009970;
   font-size:24px;
}

.nav-link{
  color: #666777;
  font-weight: 500;
  position: relative;
}
.nav-link:hover,.nav-link.active{
  color: black;
  
}
.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left :50%;
  transform: translate(-50%);
  width: 0;
  height:2px;
  background-color: #009970;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before{
  width: 100%;
  visibility: visible;
}

  
  